<%- include("header") -%>

<h2>This is the About page</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam itaque dolorum nihil a. Esse accusamus ducimus repellat repellendus. Suscipit fuga corrupti omnis sint aut, similique voluptas distinctio atque explicabo itaque?</p>

<%- include("footer") -%>
